
volumes:
  mysql_data:

services:
  mysql:
    image: mysql:8.0
    container_name: mysql_restaurante
    restart: unless-stopped
    ports:
      - "3306:3306"
    env_file:
      - .env
    volumes:
      - mysql_data:/var/lib/mysql