/* You can add global styles to this file, and also import other style files */

/* Estilos globales */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

html, body {
  height: 100%;
  width: 100%;
}